.about {
position: relative;
z-index: 2;
	.container {
		// display: flex;
		// flex-direction: column;
	}
}
.section-header {
}
.about__box {
	display: flex;
	justify-content: space-between;
	gap: 10%;

	@media screen and (max-width: 1600px) {
		gap: 5%;
	}

	@media screen and (max-width: 1200px) {
		flex-direction: column;
		gap: 40px;
	}
}
.about__left {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}
.about__text {
	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.about__btn {
}
.about__right {
	// width: 100%;
	min-width: 680px;
	flex-grow: 1;
	flex-shrink: 0;

	@media screen and (max-width: 1200px) {
		order: -1;
	}

    @media screen and (max-width: 768px) {
        min-width: 100%;
    }
}
.about__advantages {
}
