.about {
	position: relative;
	z-index: 2;
	.container {
		// display: flex;
		// flex-direction: column;
	}
}
.section-header {
}
.about__box {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	// flex-direction: column-reverse;
	gap: 60px;
}
.about__left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;

	width: calc(100% - 31.25% - 30px);

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}
.about__text {
	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.about__right {
	// @media screen and (max-width: 992px) {
	// 	order: -1;
	// }
}
.about__advantages {
}
