.btn {
	display: inline-flex;
	padding: 14px 35px;

	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	text-decoration: none;

	background-color: var(--color-accent);
	border-radius: 8px;
	border: none;

	transition: background-color 0.25s, color 0.25s, transform 0.25s;
	cursor: pointer;

	@media screen and (max-width: 768px) {
		padding: 12px 25px;

		font-size: 16px;
	}
}

.btn:hover:not(:disabled) {
	transform: translateY(-2px);
	background-color: darken(#972b2b, 2%);
}

.btn:focus {
	background-color: darken(#972b2b, 2%);
}

.btn:disabled {
	opacity: 0.4;
}

