.footer {
    margin-top: auto;
    padding: 50px 0;
    color: #fff;
    text-align: center;
    line-height: 1.6;
    background-color: #181818;

    @media screen and (max-width: 768px) {
        padding: 30px 0;
    }


    a {
        color: #fff;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & > * {
            margin: 0;
        }
    }
}