.form {
	padding: 30px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	background: #fff;
	box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.05);
	border-radius: 16px;

	@media screen and (max-width: 992px) {
		padding: 20px;
	}

	input,
	textarea {
		padding: 10px;
		border: 1px solid #dfdfdf;
		border-radius: 8px;
		background: #fff;

		min-width: 100%;
		max-width: 100%;

		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #000;
	}

	textarea {
		min-height: 105px;
	}

	input[type="file"] {
		display: none;
	}
}
.form__title {
	margin: 0;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.25;
}
.form__label {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;

	display: flex;
	flex-direction: column;
	gap: 10px;

	cursor: pointer;

	.required {
		color: #ff0000;
	}
}
.input-file-descr {
	padding: 20px 30px;
	text-align: center;

	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px dashed #dadada;
	border-radius: 8px;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.25;
	color: #7d7d7d;

	cursor: pointer;

	b {
		font-weight: 600;
		color: #696969;
	}
}

.form__btn {
	margin-top: 10px;
	align-self: center;
	display: inline-flex;
}
