.nav {
	background-color: var(--color-accent);

    @media screen and (max-width: 768px) {
        display: none;
    }
}
.container {
}
.nav-menu {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
    }
}
.nav-menu__item {
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    @media screen and (max-width: 768px) {
        width: 100%;
        border: none;
        // border-bottom: 1px solid #000;
    }

    &:first-child {
        border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
}
.nav-menu__link {
    display: inline-flex;
	padding: 19px 35px;

	font-weight: 500;
	font-size: 18px;
	color: #fff;
    line-height: normal;
	text-decoration: none;

    transition: background-color .25s;

    @media screen and (max-width: 1200px) {
        padding: 10px 25px;
        font-size: 16px;
    }

    @media screen and (max-width: 992px) {
        padding: 10px 15px;
        font-weight: 400;
        font-size: 14px;
    }

    @media screen and (max-width: 768px) {
        display: block;
        padding: 10px 0px;
        color: #000;
        font-size: 18px;
        font-weight: 500;

        text-transform: uppercase;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
