.price {
	position: relative;
	z-index: 0;

	background-image: url("../img/price/price-bg.jpg");
	background-size: cover;
	background-position: center;

	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		inset: 0;
		background: rgba(0, 0, 0, 0.7);
	}

	.container {
		position: relative;
		z-index: 2;
	}

	.section-header {
		color: #fff;
	}
}
.price-list {
	display: flex;
	gap: 30px;

	@media screen and (max-width: 1600px) {
		gap: 15px;
	}

	@media screen and (max-width: 1400px) {
		flex-wrap: wrap;
		justify-content: center;

		// max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}
.price-list__item {
	padding: 35px 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	width: calc(100% / 3 - 30px * 2 / 3);

	background-color: #fff;
	border-radius: var(--brs);

	@media screen and (max-width: 1600px) {
		width: calc(100% / 3 - 15px * 2 / 3);
	}

	@media screen and (max-width: 992px) {
		width: 100%;
		max-width: 500px;
	}

@media screen and (max-width: 768px) {
    width: 100%;
}
}
.price-list__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 160%;
	text-transform: uppercase;
	text-align: center;
	color: var(--color-accent);
}
.price-list__descr {
	padding: 20px 0px;
	margin: 0;
	text-align: center;
}
.price-list__box {
	padding: 20px 0;
	text-align: center;
	display: flex;
	flex-direction: column;

	border-bottom: 1px solid #efefef;
	border-top: 1px solid #efefef;
}
.price-list__cost {
	font-weight: 700;
	font-size: 32px;
	line-height: 125%;
	text-align: center;
	color: var(--color-accent);
}
.price-list__currency {
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: var(--color-accent);
}
.price-list__more {
	padding: 20px 0px;
	flex-grow: 1;
}
.price-list__btn {
	align-self: center;
}
.btn {
}
.price-list__subtitle {
	flex-grow: 1;
	margin-top: auto;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	text-align: center;
	color: #000;
}
