.swiper-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 1;
	gap: 10px;

	width: 90px;

	@media screen and (max-width: 480px) {
		width: 70px;
        gap: 4px;

position: absolute;
right: 0;
top: 0;

transform: translateY(8px);
}
}
.swiper-button-next,
.swiper-button-prev {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 8px;

	top: initial;
	left: initial;
	right: initial;
	transform: none;
	margin: 0;

	background-image: url("../img/icons/slider-arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--color-accent);
	background-size: auto 28px;

	transition: background-color 0.25s;

	@media screen and (max-width: 480px) {
		width: 30px;
		height: 30px;
		background-size: auto 20px;
	}

	&:hover {
		background-color: darken(#972b2b, 2%);
	}

	&::after {
		display: none;
	}
}

.swiper-button-next {
}
.swiper-button-prev {
	transform: rotate(180deg);
}
