:root {
	// Шрифты
	--font-family: "Montserrat", sans-serif;

	// Цвета
	--color-text: #000; // цвет текста
	--color-accent: #972b2b; // акцентный цвет

	// Скругления
	--brs: 16px;

	// Размеры
	--indentBlocks: 140px;
}
